// ！！！客製化！！！ //

a{
	color: rgb(64, 131, 196);
}

a:hover {
	
	text-decoration: none;
	color: #2F00FF;
}



pre{
	
	border-radius: 4px;
	background-color: #333;
	


}

code{
	
	background-color:#333;
	font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
	color:#fff;
	font-size: 14px;

}

blockquote{

	border-left:3px solid #abc;
	color: #808080;
}



// //----- 讓footer置底(正版) -----//

// * {
// 	margin: 0;
// }
// html, body {
// 	height: 100%;
// }
// .page-wrap {
//   min-height: 100%;
//   /* equal to footer height */
// 	margin-bottom: -60px; 
// }
// .page-wrap:after {
//   content: "";
//   display: block;
// }
// .site-footer, .page-wrap:after {
//   /* .push must be the same height as footer */
// 	height: 60px; 
// }
// .site-footer {
//   background: orange;
// }



//----- 內文展開 -----//


// .contentBG{
	
// 	position: fixed;
// 	width: 100%;
// 	min-height:100%;
// 	background-image: url(../img/blurBG2.jpg);
// 	background-position:center;
//     background-repeat:no-repeat;
//     background-size: cover;
// 	z-index: -2;
// }

// .content-wrap{
	
// 	position: relative;
// 	width: 100%;
// 	min-height:100%;
	
// 	background-image: url(../img/blurBG2.jpg);
// 	z-index: 0;
// }


//----- 讓footer置底 -----//



body {
    height: 100%;  
    margin:0px;
    background: url(../img/blurBG2.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.content-wrap{
	
	min-height: 1000px;

}



.footer {
  

  height: 80px;
  width: 100%;
  color:#fff;
  background-color: rgb(65,65,65);
  border:0px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  text-align: center;
  cursor: default;

  
  p{
	margin-top: 20px;
  	line-height: 25px;}

  a{ cursor: default;}

}

.blur-me {
  filter: blur(20px);
  }


//----- code色碼 -----//


.highlight .nc { color:rgb(166,226,45); }
.highlight .n  { color:rgb(102,217,239); }
.highlight .s  { color:rgb(230,219,116); }
.highlight .s1 { color:rgb(230,219,116); }










