a {
  color: #4083c4;
}
a:hover {
  text-decoration: none;
  color: #2F00FF;
}
pre {
  border-radius: 4px;
  background-color: #333;
}
code {
  background-color: #333;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #fff;
  font-size: 14px;
}
blockquote {
  border-left: 3px solid #abc;
  color: #808080;
}
html,
body {
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url(../img/blurBG2.jpg);
  margin-bottom: 0px;
  min-height: 100%;
}
footer {
  color: #fff;
  position: absolute;
  bottom: -40px;
  height: 60px;
  width: 100%;
  background-color: #414141;
  border: 0px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  text-align: center;
  cursor: default;
}
footer p {
  line-height: 25px;
}
footer a {
  cursor: default;
}
.blur-me {
  filter: blur(20px);
}
.highlight .nc {
  color: #a6e22d;
}
.highlight .n {
  color: #66d9ef;
}
.highlight .s {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
