// ！！！客製化！！！ //

a{
	color: #404040;
}

a:hover {
	
	text-decoration: none;
	color: #000;
}



pre{
	
	border-radius: 4px;
	background-color: #333;
	


}

code{
	
	background-color:#333;
	font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
	color:#fff;
	font-size: 14px;

}

blockquote{

	border-left:3px solid #abc;
}