a {
  color: #4083c4;
}
a:hover {
  text-decoration: none;
  color: #2F00FF;
}
pre {
  border-radius: 4px;
  background-color: #333;
}
code {
  background-color: #333;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #fff;
  font-size: 14px;
}
blockquote {
  border-left: 3px solid #abc;
  color: #808080;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("{{ site.production_url }}/assets/themes/twitter/img/blurBG.jpg");
  margin-bottom: 60px;
}
footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #414141;
  text-align: center;
  cursor: default;
}
footer a {
  cursor: default;
}
.highlight .nc {
  color: #a6e22d;
}
.highlight .n {
  color: #66d9ef;
}
.highlight .s {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
