a {
  color: #4083c4;
}
a:hover {
  text-decoration: none;
  color: #2F00FF;
}
pre {
  border-radius: 4px;
  background-color: #333;
}
code {
  background-color: #333;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #fff;
  font-size: 14px;
}
blockquote {
  border-left: 3px solid #abc;
  color: #808080;
}
body {
  height: 100%;
  margin: 0px;
  background: url(../img/blurBG2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.content-wrap {
  min-height: 1000px;
}
.footer {
  height: 80px;
  width: 100%;
  color: #fff;
  background-color: #414141;
  border: 0px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  text-align: center;
  cursor: default;
}
.footer p {
  margin-top: 20px;
  line-height: 25px;
}
.footer a {
  cursor: default;
}
.blur-me {
  filter: blur(20px);
}
.highlight .nc {
  color: #a6e22d;
}
.highlight .n {
  color: #66d9ef;
}
.highlight .s {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
